<article>
    <div class="top-border"></div>
    <div class="preview">
        <header class="d-flex align-items-baseline justify-content-between gap-2">
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <span class="meta">
                <time datetime="{{ .Date.Format " 2006-01-02" }}"><i>{{ .Date.Format "January 2, 2006" }}</i></time>
            </span>
        </header>
        <section class="summary">
            {{ .Summary }}
        </section>
    </div>
</article>